@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@300&display=swap');/* always at the top  */

@font-face {
    font-family: shan;
    src: url('Shandora\ DEMO.ttf');
} /* need ('')? worked with out it */


/* ( * )- wild card selects ever single element on the page */
*{
    box-sizing: border-box ;
    font-family: 'Poppins', sans-serif;
    /* font-family: shan; */
}



/* to link to html page - type link css into html page in the head section */


    /* cascading style sheets
inline
internal - one each indevidual page 
external- linked to html page */

/* selecter{
    proprety: value
    proprety: value
} */



body{
    background-color:black;
}



#navbar{
    background-color: gray;
    color: orangered;
    height: 40px;
    display: flex;
    margin-bottom: 5px;
    justify-content: space-evenly;
    align-items: center;
}

#navbar a{
    text-decoration:none;
    color: blanchedalmond;
}

#navbar a:hover{
    color: chocolate; 
    border-bottom: 2px chocolate solid;
}
/* pseudo classes allow access the state of an element. not limited to links*/






/* styling of the div with the id="main" */
#main{
    background-color: white;
    display: flex;
    border: 10px solid orangered;
    padding: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

img{
    padding: 10px;
    border: 10px;
    width: 70%;
    height: 70%;
}

img:hover{
    border: 10px solid rgb(27, 27, 45)
}


p{
    color: blueviolet;
    font-size: 22px;
}
h1,

h2{
    color:orangered;
    /* font-size: 22px; */
}

footer a{
    text-decoration: none;
    color: blueviolet;
    font-size: larger;
}

footer a:hover{
    border-bottom: 2px blueviolet solid;
}
/* dry code - dont write the same code twice. group together if 2 selecrers share same styling*/











/* to target specific elements use a class.
use class="classname" to add a class to the html*/


/* id's are more important than class  */



/*other selectors - 
double name


any within perent nav
as long as its in nav it will apply
nav a{
    color: hotpink;
    font-size: 30px;}
*/


/* only with  direct parent of nav will change
nav>a{
    color: black;
    font-size: 30px;
} */



/*some psuedo classes,there are many more
a
a:visited
a:hover
a:active  */

/* element sizing

px - pixels (try avoid)
% - percentage (% of body, because parent)
vh - view height (40% of the veiwport. works off the browser)
*/

/* .content{
    text-align: center; /* (unrelated to sizing)} */


/* overflow content outside of box 

overflow: visible (default value)
overflow: hidden (overflow is clipped and hidden)
overflow: scroll (overflow is clipped and scroll axis added)
overflow: auto()
*/
/* .content{
    margin-left:auto ;
    margin-right:auto;
    display: block;
    width: 540px;
} */


/* box model

content
    - the content of the element, where the text and image
    appear
padding
    - clears the area around the content, the padding is transparent
border
    - A border that outlines the content and padding
margin
    - clears an area out side the border

*/

/* box sizing stes if ant padding and border values are included in the element 
.content  */


/* put text-align:centre; img, works because its an in line element */

/* float wraps text, */
/* #pic1{
    width: 30%;
    float: left;
    padding: 20px; /* could use padding-right if you want it only on the right */
/* } */ 


/*Font properties
color - is font color
size - size of font
weight - thickness (bold) between 100-900 (can use) 
style
decoration
align*/

/* font family only a few font are recognised by browsers at default. can import not commen fonts
fonts.google*/

/* font face allows to upload font insteand of import.
steps - download, unzip, and move to project file.

syntax:
@font-face {
    font-family: face;
    src: url();
}

